*{
    background: rgb(238, 238, 221);
}
h2, h4{
    text-align: center;
    text-decoration: underline;
}
th{
    border: 1px solid gray;
    text-align: center;
    background: skyblue;
}
table, tr,td{
    border: 2px dashed #e71515;
    text-align: center;
    padding: 8px;
}
table{
    width: 100%;
    border-collapse: collapse;
    color: rgb(32, 31, 31);
    background: rgb(238, 238, 189);
}
.row1,.row2{
    width: 100px;
}